.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	text-align: center;
}

main {
	flex-grow: 1;
	position: relative;
}

footer {
	margin-top: var(--distance);
	margin-bottom: var(--distance);
	text-align: center;
	font-size: var(--smallest);
}
