.container {
	--margin: 10px;
	margin-left: var(--margin);
	margin-right: var(--margin);
}

@media all and (min-width: 800px) {
	.container {
		--margin: 50px;
	}
}

@media all and (min-width: 1500px) {
	.container {
		width: 1400px;
		--margin: auto;
	}
}
