@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
	--bg-color: #101010;
	--bg-color-shade-1: #202020;
	--bg-color-shade-2: #404040;

	--fg-color: white;
	--fg-color-shade-1: #ddd;
	--fg-color-shade-2: #bbb;

	--alt-color: #436e90;

	--border-width: 6px;
	--border-radius: 0px;
	--border: var(--border-width) solid var(--alt-color);

	--largest: 36px;
	--large: 24px;
	--regular: 18px;
	--small: 14px;
	--smallest: 12px;

	background: linear-gradient(
		175deg,
		var(--bg-color) 0%,
		var(--bg-color-shade-1) 60%,
		var(--bg-color-shade-2) 90%
	);

	font-family: 'Rubik', sans-serif;
	color: var(--fg-color);
}

a {
	color: var(--fg-color);
	text-decoration: underline;
}

a:visited {
	color: var(--fg-color-shade-1);
}
